<div class="banner">
  <div class="background-overlay">
		<div class="banner-container">
	  	<h1>Smart Business Solution for Better Future</h1>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit luctus ullamcorper mattis.</p>
      <a href="#" class="button button-primary">Get Started</a>
    </div>
  </div>
</div>
<div class="featured-links-container">
	<div class="featured-links">
		<div class="featured-link">
			<i class="fa-solid fa-pencil icon"></i>
			<span class="icon-text">Register your email</span>
		</div>
		<div class="featured-link">
			<i class="fa-solid fa-hand-pointer icon"></i>
			<span class="icon-text">Activate your account</span>
		</div>
		<div class="featured-link">
			<i class="fa-solid fa-microphone icon"></i>
			<span class="icon-text">Private Consulting</span>
		</div>
	</div>
</div>

<h1 class="new">
	Building
</h1>


<div class="about-section-container">
	<section class="about-section">
		<div class="about-section-slides"></div>
		<div class="about-section-content"></div>
	</section>
</div>

<div class="workflow-section-container">
	<section class="workflow-section">
		<div class="workflow-section-heading">
			<h6 class="sub-heading">Workflow</h6>
			<h2>Advanced Business Strategy</h2>
		</div>
		<div class="workflow-section-tiles">
			<div class="workflow-section-tile">
				<div class="workflow-section-tile-icon">
					<i class="fa-solid fa-chart-line"></i>
				</div>
				<h4>
					Market Analytic
				</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.
				</p>
			</div>
			<div class="workflow-section-tile">
				<div class="workflow-section-tile-icon">
					<i class="fa-solid fa-coins"></i>
				</div>
				<h4>
					Budget Control
				</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.
				</p>
			</div>
			<div class="workflow-section-tile">
				<div class="workflow-section-tile-icon">
					<i class="fa-solid fa-rocket"></i>
				</div>
				<h4>
					Maximize Profit
				</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.
				</p>
			</div>
		</div>
	</section>
</div>

<section class="section-with-image">
	<div class="section-text">
		<h6 class="sub-heading section-text-sub">
			Process
		</h6>
		<div class="section-text-heading section-text-sub">
			<h2>
				Business Process Automation
			</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipiscing elit do eiusmod tempor incididunt ut  nisi ut aliquip ex ea commodo consequat.
			</p>
		</div>
		<div class="section-text-bullets section-text-sub">
			<div class="section-text-bullet">
					<div class="section-text-bullet-icon">
						<i class="fa-solid fa-layer-group"></i>
					</div>
					<div class="section-text-bullet-text">
						<h6>
							Strategic Planning
						</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
						</p>
					</div>
			</div>
			<div class="section-text-bullet">
					<div class="section-text-bullet-icon">
						<i class="fa-solid fa-tv"></i>
					</div>
					<div class="section-text-bullet-text">
						<h6>
							Advanced Reporting
						</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
						</p>
					</div>
			</div>
			<div class="section-text-bullet">
					<div class="section-text-bullet-icon">
						<i class="fa-solid fa-cart-shopping"></i>
					</div>
					<div class="section-text-bullet-text">
						<h6>
							Business Consulting
						</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
						</p>
					</div>
			</div>
		</div>
		<div class="section-text-button section-text-sub">
			<a href="#" class="button button-secondary">Learn More</a>
		</div>
	</div>
	<div class="section-image">
		<%= image_tag "/assets/man-with-laptop.jpg" %>
	</div>
</section>

<div class="black-section-container">
	<section class="black-section">
		<div class="black-section-text">
			<div class="black-section-text-heading">
				<h3>
					Smart business strategy for major changes in global market trends.
				</h3>
			</div>
			<div class="black-section-text-normal">
				<div class="text-box">
					<h6 class="sub-heading">Partnership</h6>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus luctus.
					</p>
				</div>
				<div class="text-box">
					<h6  class="sub-heading">Consultation</h6>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus luctus.
					</p>
				</div>
			</div>
		</div>
		<div class="black-section-images">
			<div class="black-section-image image-1">
				<div class="background-overlay">
					<div class="black-section-image-content">
						<h6 class="sub-heading">Dashboard</h6>
						<h4>Market Analytic</h4>
						<div class="learn-more-button">
							<a href="#">Learn More</a>
						</div>
						<%= link_to "", root_path, class:"image-link" %>
					</div>
				</div>
			</div>
			<div class="black-section-image image-2">
				<div class="background-overlay">
					<div class="black-section-image-content">
						<h6 class="sub-heading">Strategy</h6>
						<h4>Digital Investment</h4>
						<div class="learn-more-button">
							<a href="#">Learn More</a>
						</div>
						<%= link_to "", root_path, class:"image-link" %>
					</div>
				</div>
			</div>
			<div class="black-section-image image-3">
				<div class="background-overlay">
					<div class="black-section-image-content">
						<h6 class="sub-heading">Solution</h6>
						<h4>Expert Consulting</h4>
						<div class="learn-more-button">
							<a href="#">Learn More</a>
						</div>
					</div>
						<%= link_to "", root_path, class:"image-link" %>
				</div>
			</div>
		</div>
	</section>
</div>

<p style="margin: 200px 0">
</p>
<div class="get-a-quote">
	<div class="background-overlay">
		<div class="get-a-quote-container">
			<h2 class="get-a-quote-text">
				Generate more sales with our smart business strategy
			</h2>
			<div class="action">
				<a href="#" class="button button-primary">Get Started</a>
			</div>
		</div>
	</div>
</div>
