/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: "Montserrat", Sans-serif;
}

body a:hover {
    text-decoration: none;
}

.top-bar {
    height: 90px;
    width: 100%;
    background: #1B1717;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%), 0 8px 30px rgb(0 0 0 / 10%);
    position: fixed;
    top: 0;
    z-index: 5;
}

.top-bar-container {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.top-bar-logo {
    width: 33%;
    max-width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.top-bar-logo img {
    width: 100%;
}

.nav-bar-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: right;
}

.nav-bar {
    height: 100%;
    width: 800px;
    min-width: 600px;
    display: flex;
    justify-content: right;
    padding-right: 30px;
}

.nav-menu {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
}

.nav-menu li {
    list-style: none;
    font-weight: 700 ;
    display: inline-block;
    height: 100%;
}

.nav-menu li ul.dropdown {
    visibility: hidden;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 10px 30px 0 rgb(45 45 45 / 20%);
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s ease-in-out;
    padding-left: 20px;
}

.nav-menu li:hover ul.dropdown {
    visibility: visible;
    opacity: 1;
}

.nav-menu li ul.dropdown li {
    display: block;
    line-height: 1rem;
    height: fit-content;
}

.nav-menu li ul.dropdown li a {
    line-height: 3rem;
    padding: 0 2.5rem 0 0.5rem;
    color: black;
}

.nav-menu li ul.dropdown li a:hover {
    color: #810000;
}

.nav-menu a {
    text-decoration: none;
    position: relative;
    display: block;
    color: #FFFFFF;
    padding: 0 1rem;
    transition: 0.25s ease-in-out;
    line-height: 5.625rem;
    height: 100%;
    z-index: 5;
}

.nav-menu a.main-menu-item:hover:after {
    width: 100%;
}

.nav-menu a:hover {
    color: #DDDDDD;
}

.nav-menu a:hover ul.dropdown {
    display: block;
}

.banner {
    height: calc( 100vh - 90px );;
    margin-top: 90px;
    background-image: url('banner.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.background-overlay {
    background-color: rgba(27, 23, 23, 0.5);
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    width: 100%;
    height: 100%;
}
.banner .background-overlay {
    padding-top: 120px;
}

.banner-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

.banner-container h1 {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
}

.banner-container p {
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
} 


a.button {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
}

a.button-secondary {
    padding: 19px 39px;
    border: 1px solid #075493;
}

a.button-primary {
    padding: 17px 37px;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #075493, #00FF73);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #DDD inset;
}

.banner-container a.button {
    margin-top: 20px;
}

a.button-secondary:hover {
    text-decoration: none;
    border: 2px solid #075493;
    padding: 18px 38px;
}

a.button-primary:hover {
    text-decoration: none;
    box-shadow: none;
    color: white;
}

.footer {
    width: 100%;
    background: #1B1717;
    color: #FFF;
}

.footer a {
    color: #DDDDDD;
}

.footer a:hover {
    color: #CE1212;
    text-decoration: none;
}

.footer-main-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container {
    width: 100%;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
}

.footer-container .footer-container-column {
    flex: 1 1 0%;
    padding-right: 1.3rem;
}

.footer-container .footer-container-column h4 {
    font-size: 14px;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
}

.footer-container .footer-container-column p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}

.footer-container .footer-container-column .logo {
    width: 240px;
    height: 60px;
    margin: -20px 0 20px -40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container .footer-container-column .logo img {
    width: 100%;
}

.footer-ribbon {
    padding: 30px 0;
    border-top: 1px solid #DDDDDD;
    width: 100%;
    font-family: "Catamaran", Sans-serif;
}

.footer-ribbon p {
    margin: 0;
}

.featured-links-container {
    background: #F7F7F7;
    width: 100%;
}

.featured-links {
    padding: 50px;
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.featured-link {
    margin-right: 120px;
}

.featured-link:last-child{
    margin-right: 0px!important;
}

.featured-links .icon {
    font-size: 24px;
    color: #075493;
}

.featured-links .icon-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    font-family: monospace;
    letter-spacing: 0.15px;
    padding-left: 14px;
}

.about-section-container {
    width: 100%;
    height: 900px;
    padding: 100px 0;
}

.about-section {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.about-section-slides {
    flex: 1 1 0%;
    height: 100%;
}

.about-section-content {
    flex: 1 1 0%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.about-section-content-container {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.about-section-content-container ul {
    padding: 0;
    margin-top: 30px;
}

.about-section-content-container li {
    list-style: none;
}

.about-section-content-container li i {
    display: inline-block;
    margin-right: 10px;
}

.about-section-content h2 {
    margin-bottom: 20px;
}

.about-section-slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.about-section-image {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background: url('who-are-we.jpg');
}

.about-section-floating-box {
    background: #F7F7F7;
    position: absolute;
    right: 0;
    padding: 40px;
    padding-bottom: 20px;
    width: 45%;
    bottom: 0;
}

.about-section-floating-box i {
    font-size: 50px;
    margin-bottom: 30px;
    color: #075493;
}

.get-a-quote {
    background-image: url('get-a-quote.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    color: #FFFFFF;
}

.get-a-quote .background-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-a-quote-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.get-a-quote h2 {
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    flex: 1 1 0%;
}

.get-a-quote .action {
    flex: 1 1 0%;
}

.get-a-quote .action a {
    display: block;
    max-width: fit-content;
    margin-top: 20px;
    margin-left: auto;
}

.section-with-image {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.section-text {
    height: 100%;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    margin-top: 75px;
}

h6.sub-heading {
    color: #075493;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.15px;
    margin-bottom: 20px;
}

.section-image {
    display: flex;
    height: 100%;
    flex: 1 1 0%;
}

.section-image img {
    width: 100%;
}

.section-text-sub {
    flex: 1 1 0%;
    margin-right: 120px;
}

.section-text-bullets {
}

.section-text-bullet h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.15px;
    margin-top: 8px 0 20px 0;
}

.section-text-bullet {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.section-text-bullet-icon {
    flex: 1 5 0%;
}

.section-text-bullet-text {
    flex: 5 1 0%;
}

.section-text p, .workflow-section p, .text-box p, .about-section p {
    font-family: "Catamaran", Sans-serif;;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.section-text-heading h2, .about-section-content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.section-text-bullet-icon i {
    font-size: 40px;
    color: #075493;
}

.section-text-button {
    padding: 20px 0;
}

.workflow-section-container {
    width: 100%;
    background: #F7F7F7;
    padding: 100px 0;
}

.workflow-section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.workflow-section-heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.workflow-section-heading h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.workflow-section-tiles{
    display: flex;
    flex-direction: row;
}

.workflow-section-tile {
    display: flex;
    flex: 1 1 0%;
    padding: 10px 20px;
    flex-direction: column;
}

.workflow-section-tile h4, .black-section-image-content h4, .about-section h4 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.workflow-section-tile-icon {
    font-size: 60px;
    color: #075493;
    margin-bottom: 15px;
}

.black-section-container{
    width: 100%;
    background: #1B1717;
    color: #FFFFFF;
    padding: 100px 0;
    margin-top: 100px;
}

.black-section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.black-section-text-heading h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.5px;
    padding-right: 50px;
}

.black-section-text {
    text-align: left;
    display: flex;
    flex-direction: row;
}

.black-section-text-heading {
    flex: 3 4 0%;
}

.black-section-text-normal {
    margin-left: 100px;
    flex: 4 3 0%;
    display: flex;
    flex-direction: row;
}

.black-section-text-normal .text-box{
    flex: 1 1 0%;
    margin-left: 20px;
    padding: 10px 40px 0 0;
}

.black-section .text-box h6 {
    color: #008cff!important;
}

.black-section-images {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    height: 400px;
    background: lightpink;
}

.image-1{
    background-image: url('black-section-image-1.jpg');
}

.image-2{
    background-image: url('black-section-image-2.jpg');
}

.image-3{
    background-image: url('black-section-image-3.jpg');
}

.black-section-image {
    flex: 1 1 0%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.black-section-image .background-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    background: rgba(34, 40, 49, 0.22)!important;
}

.black-section-image-content {
}

.black-section-image-content h6 {
    transform: translateY(-10px);
    opacity: 0;
    transition: opacity .3s ease-out,transform .3s ease-out;
    color: #FFFFFF!important;
    margin-bottom: 10px!important;
}

.black-section-image:hover h6 {
    transform: translateY(0px);
    opacity: 1;
}

.black-section-image-content .learn-more-button a{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    color: #F7F7F7;
    display: block;
    margin-top: 50px;
    transform: translateY(10px);
    opacity: 0;
    transition: opacity .3s ease-out,transform .3s ease-out;
}
.black-section-image:hover .learn-more-button a {
    transform: translateY(0px);
    opacity: 1;
}

.black-section-image a.image-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}















