/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
    padding-inline-start: 0 !important;
}

.top-bar {
    height: 5rem;
    background: #f65935;
    box-shadow: 0 3px 30px 0 rgba(0 0 0/ 7%);
    line-height: 3.75rem;
    font-size: 1rem;
    font-weight: 600;
}

.top-bar-container {
    height: 3.75rem;
    /*background: #FFFFFF;*/
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    align-items: stretch;
    width: max-content;
    margin: 0 auto;
}

.tagline {
    font-family: "Poppins", sans-serif;
    display: block;
    margin-right: 8rem ;
}

.social-links {
    margin: 0;
    padding: 0 7rem;
    display: block;
    /*background: lightgreen;*/
}

.social-links li {
    list-style: none;
    font-size: 0.75rem;
    display: inline-block;
}

.social-links li a {
    text-decoration: none;
    color: inherit;
    padding: 0 3px;
    margin: 0 2px;
}

.top-bar-phone{
    margin-left: 6.25rem;
}

.top-bar-phone b {
    font-weight: 400;
    color: #DDDDDD;
    font-size: .75rem;
    padding: 0 2px;
}

.top-bar-phone img {
    height: 1.9rem;
}

.nav-bar {
    height:  6.25rem;
    max-width: 86rem;
    background: #FFFFFF;
    margin: 0 auto;
    margin-top: -1.5rem;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%), 0 8px 30px rgb(0 0 0 / 10%);
}

.nav-bar-container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
}

.nav-bottom-bar {
    height: 5px;
    background: #aaaec1;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
    z-index: 1;
}

.nav-bar-container .logo {
    height: 100%;
    max-width: fit-content;
    vertical-align: middle;
    margin-right: 200px;
}

.nav-bar-container .logo img {
    height: 2.5rem;
    margin-top: 30px; /*to be fixed*/
    vertical-align: middle;
}

.nav-menu {
    margin: 0;
    padding: 0;
}

.nav-menu li {
    list-style: none;
    font-weight: 600 ;
    display: inline-block;
    height: 100%;
}

.nav-menu li ul.dropdown {
    visibility: hidden;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%), 0 8px 30px rgb(0 0 0 / 10%);
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s ease-in-out;
}

.nav-menu li:hover ul.dropdown {
    visibility: visible;
    opacity: 1;
}

.nav-menu li ul.dropdown li {
    display: block;
    line-height: 1rem;
    height: fit-content;
}

.nav-menu li ul.dropdown li a {
    line-height: 3rem;
    padding: 0 2.5rem 0 1.5rem;
}

.nav-menu a {
    text-decoration: none;
    position: relative;
    display: block;
    color: #405089;
    padding: 0 1rem;
    transition: 0.25s ease-in-out;
    line-height: 6.25rem;
    height: calc( 100% + 5px );
    z-index: 5;
}

.nav-menu a.main-menu-item:after {
    transition: width 0.25s ease;
    background: none repeat scroll 0 0 #f65935;
    content: "";
    display: block;
    height: 5px;
    width: 0;
    left: 0px;
    position: absolute;
}

.nav-menu a.main-menu-item:hover:after {
    width: 100%;
}

.nav-menu a:hover {
    color: #f65935;
    /*border-bottom: 5px solid #f65935;*/
}

.nav-menu a:hover ul.dropdown {
    display: block;
}

.banner {
    width: 100%;
    height: 100vh;
    background: url('slide02.jpg') center no-repeat #405089;
    background-blend-mode: multiply ;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
    margin-top: -4.75rem;
}

.banner-container {
    width: 100%;
    height: 100%;
}


footer {
    background: #262d57;
    overflow: visible;
    position: relative;
    color: #FFFFFF;
}

.contact-wrapper {
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%), 0 8px 30px rgb(0 0 0 / 10%);
    width: 75%;
    position: relative;
    background: #FFFFFF;
    margin: 0 auto;
    z-index: 5;
    top: -3rem ;
}

.contact-wrapper-container {
    display: flex;
    flex-direction: row;
    margin: 0 4.4rem;
}

.contact-wrapper-tile {
    padding: 40px;
    border-right: 1px solid #eaebee;
    flex: 1;
}

.contact-wrapper-container div:last-child {
    border-right: 0;
}

.contact-wrapper-tile h3 {
    font-family: "Playfair Display", serif;
    color: #f65935;
    font-weight: 700;
    padding: 0.5rem 0;
}

.contact-wrapper-tile p {
    color:  #9aa0ae;
    font-family: "Poppins", sans-serif;
}

.contact-wrapper-tile img {
    height: 2.5rem;
}

.contact-wrapper-tile a {
    color: #262d57;
}

.sub-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 3.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sub-footer-container {
    width: 65%;
    margin: 0 auto;
    position: relative;
}

.copyright {
    font-size: 0.7rem;
    line-height: 3.2rem;
    max-width: fit-content;
    display: inline-block;
}

.creation {
    font-size: 0.7rem;
    line-height: 3.2rem;
    display: inline-block;
    position: absolute;
    right: 0;
}

.creation a {
    color: #FFFFFF;
    font-weight: 800;
}

.footer-row {
    position: relative;
    bottom: 4rem;
    max-width: 72rem;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
}

.footer-intro{
    flex: 1;
}

.footer-intro img {
    height: 2.5rem;
}

.footer-intro p {
    color: #FFFFFF;
    margin-top: 1rem;
}

.footer-nav {
    flex: 1;
    display: flex;
    margin-left: 4rem;
}

.footer-nav-list {
    flex: 1;
}

.footer-menu li {
    list-style: none;
    padding: 2px 0;
}

.footer-menu li a {
    color: #FFFFFF;
}

.footer-phone {
    flex: 1;
}

.contact-box {
    text-align: right;
}

.contact-box p {
    margin: 0;
    padding: 0;
    color: ##9aa0ae;
}

.contact-box a {
    color: #FFFFFF;
}

.contact-box h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.contact-box h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
}

footer .social-links {
    padding: 0 !important;
}

.contact-form {
    background: #405089;
    width: 100%;
    height: 40rem;
}

.featured-services {
    background: #c1c4ce;
    padding-top: 0 !important;
}

.featured-services-container {
}

.featured-services-container .contact-wrapper-tile span {
    width: 10px;
    height: 26px;
    display: inline-block;
    background: #f65935;
    transform: translateY(-10px);
    position: relative;
}

.featured-services-container .contact-wrapper-tile span:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-color: transparent #f65935 transparent transparent;
    position: absolute;
    right: 0;
    bottom: -5px;
}

.featured-services-container .contact-wrapper-tile span:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 0;
    border-color: #f65935 transparent transparent transparent;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.featured-services-container .contact-wrapper-tile {
    padding-top: 0 !important;
}

.featured-services-container .contact-wrapper-tile img {
    height: 1.5rem;
}

.contact-form {
    color: #FFFFFF;
    padding: 6rem 20rem;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
}

.form-details {
    flex: 1;
}

.form-section {
    flex: 1;
    font-size: 1rem;
}

.form-details h2 {
    font-weight: 700;
    font-family: "Playfair Display", serif;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.form-item {
    flex-grow: 1;
    margin-right: 1rem;
    margin-bottom: 0.5rem;    
}

.form-group div.form-item:last-child {
    margin-right: 0;
}

.form-item label {
    font-weight: 600;
    margin-bottom: 0;
}

.form-group textarea {
    width: 100%;
    height: 10rem;
    outline: 0;
    border: 1px solid #eaebee !important;
    padding: 10px 20px;
    resize: none;
}

.contact-form-input {
    padding: 0px 20px;
    height: 3rem;
    width: 20rem;
    border: 1px solid #eaebee;
    display: block;
}

.contact-form-input:focus {
    border: 1px solid #eaebee !important;
    outline: 0;
}

.submit-button {
    padding: 1rem 2.5rem;
    border: 1px solid #FFFFFF;
    background: #405089;
    color: #FFFFFF;
    font-weight: 600;
}












































