<div class="top-bar">
  <div class="top-bar-container">
  	<div class="top-bar-logo">
     <%= link_to(image_tag(asset_path( 'scaleforte-logo-white.png' )), root_path) %>
  	</div>
  	<div class='nav-bar-container'>
  		<nav class="nav-bar">
  			<ul class="nav-menu">
				  <li><a class="main-menu-item" href="index.html">Home</a></li>
				  <li><a class="main-menu-item"  href="#">Services +</a>
				    <ul class="dropdown">
				      <li><a href="about-us.html">About Us</a></li>
				      <li><a href="mission-vision.html">Mission - Vision</a></li>
				    </ul>
				  </li>
				  <li><a class="main-menu-item"  href="showcases.html">Portfolio</a></li>
				  <li><a class="main-menu-item"  href="showcases.html">What We Do</a></li>
				  <li><a class="main-menu-item"  href="contact.html">Contact</a></li>
				  <li><a class="main-menu-item"  href="#">Pages +</a>
					  <ul class="dropdown">
					      <li><a href="news-sidebar-left.html">w Sidebar Left</a></li>
					      <li><a href="news-sidebar-right.html">w Sidebar Right</a></li>
					  </ul>
				  </li>
				</ul>
  		</nav>
  	</div>
  </div>
</div>
