<div class="top-bar">
  <div class="top-bar-container">
    <div class="tagline">
    	Although : no-one wants to be knocked back or told their 
    	<u>idea is unworkable</u>
    </div>
    <ul class="social-links">
    	<li><a href="#" class="fa fa-facebook"></a></li>
    	<li><a href="#" class="fa fa-twitter"></a></li>
    	<li><a href="#" class="fa fa-youtube-play"></a></li>
    	<li><a href="#" class="fa fa-google-plus"></a></li>
    	<li><a href="#" class="fa fa-linkedin"></a></li>
    </ul>
    <div class="top-bar-phone">
    	<%= image_tag asset_path( 'icon-phone.png' ) %>
    	<span>
    		<b>PK</b> 
    		+92 334 336 7611
    	</span>
    </div>
  </div>
</div>

<nav class="nav-bar">
  <div class="nav-bar-container">
  	<div class="logo">
     <%= link_to(image_tag(asset_path( 'scaleforte-logo.png' )), root_path) %>
  	</div>
  	<ul class="nav-menu">
	  <li><a class="main-menu-item" href="index.html">Home</a></li>
	  <li><a class="main-menu-item"  href="#">Corpration</a>
	    <ul class="dropdown">
	      <li><a href="about-us.html">About Us</a></li>
	      <li><a href="mission-vision.html">Mission - Vision</a></li>
	      <li><a href="team-members.html">Team Members</a></li>
	      <li><a href="prices.html">Prices</a></li>
	      <li><a href="our-offices.html">Our Offices</a></li>
	      <li><a href="press-releases.html">Press Releases</a></li>
	      <li><a href="clients.html">Clients</a></li>
	      <li><a href="career.html">Career</a></li>
	      <li><a href="faq.html">FAQ</a></li>
	      <li><a href="404-error.html">404 Error</a></li>
	    </ul>
	  </li>
	  <li><a class="main-menu-item"  href="#">Solutions</a>
	    <ul class="dropdown">
	      <li><a href="#">Business</a></li>
	      <li><a href="solutions05.html">Consultation</a></li>
	      <li><a href="solutions06.html">Career</a></li>
	      <li><a href="solutions07.html">Training</a></li>
	      <li><a href="solutions08.html">Management</a></li>
	      <li><a href="solutions09.html">Startups</a></li>
	    </ul>
	  </li>
	  <li><a class="main-menu-item"  href="showcases.html">Showcases</a></li>
	  <li><a class="main-menu-item"  href="#">News</a>
	  <ul class="dropdown">
	      <li><a href="news-sidebar-left.html">w Sidebar Left</a></li>
	      <li><a href="news-sidebar-right.html">w Sidebar Right</a></li>
	      <li><a href="news-sidebar-nosidebar.html">without Sidebar</a></li>
	      <li><a href="news-single-sidebar-left.html">w Sidebar Left Single</a></li>
	      <li><a href="news-single-sidebar-right.html">w Sidebar right Single</a></li>
	      <li><a href="news-single-nosidebar.html">without Sidebar Single</a></li>
	    </ul>
	  </li>
	  <li><a class="main-menu-item"  href="contact.html">Contact</a></li>
	</ul>
  	<div class="nav-bottom-bar"></div>
  </div>
</nav>
